# Conditions, Control Flow & Looping

## Introduction to the if Statement

In [1]:
x = 0
y = 5

if x < y:                            # Truthy
    print('yes')
if y < x:                            # Falsy
    print('yes')
if x:                                # Falsy
    print('yes')
if y:                                # Truthy
    print('yes')
if 'aul' in 'grault':                # Truthy
    print('yes')
if 'quux' in ['foo', 'bar', 'baz']:  # Falsy
    print('yes')

yes
yes
yes

## Grouping Statements: Indentation and Blocks

In [1]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [2]:
# Does line execute?                        Yes    No
#                                           ---    --
if 'foo' in ['foo', 'bar', 'baz']:        #  x
    print('Outer condition is true')      #  x

    if 10 > 20:                           #  x
        print('Inner condition 1')        #        x

    print('Between inner conditions')     #  x

    if 10 < 20:                           #  x
        print('Inner condition 2')        #  x

    print('End of outer condition')       #  x
print('After outer condition')            #  x

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

In [10]:
angka=20
if (bool(angka%2)):
    print("Angka ganji")
else:
    print("angka genap")

angka genap

In [1]:
if 'foo' in ['bar', 'baz', 'qux0']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('done')

print('after conditional')

after conditional

In [2]:
x=25
if x<20 :
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [3]:
x=15
if x<20 :
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [4]:
harga_buku=20000
harga_majalah=5000
uang=2000
if uang>harga_buku:
    print('beli buku')
else:
    print('uang tidak cukup')

uang tidak cukup

In [5]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [6]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

## One-Line if Statements

In [7]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [9]:
if 'z' in 'foo': print('1'); print('2'); print('3')
else: print('Ngga ada')

Ngga ada

In [10]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

## Conditional Expressions (Pythonâ€™s Ternary Operator)

In [11]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [12]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [13]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

## Python 'while' Loops

In [14]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [16]:
n = 5
while n > 0:
    print(n)
    n -= 1

5
4
3
2
1

In [1]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

## The Python break and continue Statements

In [17]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

In [18]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

In [19]:
n = -1
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

Loop done.

## Nested while Loops

In [23]:
age=24
gender='M'

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

father

In [25]:
a = ['foo', 'bar']
while len(a):
    print(a.pop(0))
    b = ['baz', 'qux']
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

## Iterating Through a Dictionary

In [3]:
d={'foo':1, 'bar':2, 'baz':3}
for k in d:
    print(k)

foo
bar
baz

In [5]:
d={'foo':1, 'bar':2, 'baz':3}
for v in d.values():
    print(v)

1
2
3

In [6]:
for k in d:
    print(d[k])

1
2
3

In [10]:
temp=input('ketikan temperatur yang ingin dikonversi eg. 45F, 120C: ')
degree=int(temp[:-1])
i_convertion=temp[-1]
result=0
if i_convertion =='C':
    result = intr(round((9*degree)/5 + 32))
elif i_convertion=='F':
    result=int(round((degree-32)*5/9))
else:
    print('masukkan data yang benar')
print('Temperaturnya adalah', result, 'Derajat')

ketikan temperatur yang ingin dikonversi eg. 45F, 120C: 32A
masukkan data yang benar
Temperaturnya adalah 0 Derajat

In [12]:
while True:
    msg=input('Ketikkan Karakter: ').lower()
    print(msg)
    if msg=='stop':
        break

Ketikkan Karakter: GG
gg
Ketikkan Karakter: stop
stop