# Function, Basic Module, and Package

In [151]:
# function luas persegi panjang
 
def func_cetak_luas(p,l): 
    "function untuk menghitung luas"
    print(p*l)
    # return None

In [102]:
func_cetak_luas(20,3)

60

In [103]:
print(func_cetak_luas(20,2))

40
None

In [104]:
result = func_cetak_luas(10,2)
print(result)

20
None

In [105]:
def func_luas2(p,l): 
    "function untuk menghitung luas"
    return abs(p*l)

In [106]:
luas = func_luas2(30,4)
print("Luas :",luas)

Luas : 120

In [107]:
luas = func_luas2(-22,4)
print("Luas :",luas)

Luas : 88

In [108]:
def printme( str ):
   "This prints a passed string into this function"
   print(str)
   return

In [109]:
hasil = printme("Ahmad Firdaus Z")
print(hasil)

Ahmad Firdaus Z
None

## function pengecekan nilai ganjil atau genap

In [110]:
def cekbilangan(x):
    if x % 2:
        print("Bilangan Ganjil") 
    else : 
        print("Bilangan Genap")
    return

In [111]:
cekbilangan(12)

Bilangan Genap

## Calling a Function

In [112]:
def printme( str ):
   "This prints a passed string into this function"
   print(str)
   return

# Now you can call printme function
printme("I'm first call to user defined function!")
printme("Again second call to the same function")

I'm first call to user defined function!
Again second call to the same function

## Pass by reference vs value

In [113]:
listx = [9,8,7] 
print(f"isi list {listx}")

isi list [9, 8, 7]

In [114]:
listx.append(10)
print(f"isi list terbaru setelah di append {listx}")

isi list terbaru setelah di append [9, 8, 7, 10]

In [115]:
listx.append([0,1,2]) 
print(f"isi list terbaru setelah di append {listx}")

isi list terbaru setelah di append [9, 8, 7, 10, [0, 1, 2]]

In [116]:
def changeme( mylist ):
   "This changes a passed list into this function"
   mylist.append([1,2,3,4]);
   print("Values inside the function: ", mylist)
   return  # none

In [117]:
mylist1 = [10,20,30];
changeme( mylist1 );

print("Values outside the function: ", mylist1)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [118]:
def changeme1( mylist2 ):
   "This changes a passed list into this function"
   mylist2 = [1,2,3,4]; # This would assig new reference in mylist
   print("Values inside the function: ", mylist2)
   return

In [119]:
mylist3 = [10,20,30];
changeme1( mylist3 );
print("Values outside the function: ", mylist3)

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [120]:
def changeme2( mylist2 ):
   "This changes a passed list into this function"
   mylist2 = [1,2,3,4]; # This would assig new reference in mylist
   print("Values inside the function: ", mylist2)
   return mylist2

In [121]:
mylist = [10,20,30];
mylist2 = changeme2( mylist2 );
print("Values outside the function: ", mylist2)

NameError: name 'mylist2' is not defined

In [ ]:
def hitung(amt  ,disc  ,saldo ):
    "hitung sisa saldo"
    saldo -= amt - disc            # saldo = saldo - amt - disc 
    print("hitung saldo selesai ",saldo) 
    return saldo

amt = 1000
disc = 10 
saldo = 5000
saldo = hitung(amt, disc, saldo)

print(f'Nominal belanja : {amt}')
print(f'Discount        : - {disc}')
print(f"Saldo sekarang : {saldo}")

## Function Arguments

In [ ]:
def printme( str ):
   "This prints a passed string into this function"
   print(str)
   return;

printme("gg geming")

In [ ]:
printme()

In [ ]:
def func(name, job):
    print(name, 'is a', job)

func('Jack', 'developer')

## Keyword Arguments

In [ ]:
def printme( str1 ):
    "This prints a passed string into this function"
    print(str1)
    return;


printme(str1= "Hacktiv8")

In [ ]:
def func(name, job):
    print(name, 'is a', job)

In [ ]:
func(name='Jack', job='developer')

In [ ]:
func(job='developer', name='Jack')

In [ ]:
def printme(nama , intamt , fldisc):
    "This prints a passed string,int, float into this function"
    print(" Nama :",nama)
    print(" Amt  :", intamt ) 
    print(" Disc :",fldisc)
    return

printme(intamt = 10 , fldisc = 90.5 , nama = "pelanggan")

## Default Arguments

In [ ]:

def totalInvoice( name, amt,  disc=100 ):
    "This prints a passed info into this function"
    print("Name: ", name)
    print("Amt: ", amt)
    print("Disc:", disc) 
    total = amt - disc 
    print(10*"==")
    print("Total:",total)
    return

In [ ]:
print("Invoice : ",1) 
totalInvoice( amt=50000, name="hacktiv8", disc = 5000 )
print("\n")

In [ ]:
print(10*"###")
print("\n")
print("Invoice : ",2) 
totalInvoice( name="Jhon",  amt=10000)

## Variable Length Arguments

In [ ]:
def print_arguments(*args):
    print(type(args))
    print(args)

In [ ]:
print_arguments(1, 54, 60, 8, 98, 12,1,1,1,2,3,3,4)

In [ ]:
print_arguments()

In [ ]:
def printinfo( arg1, *vartuple ):
    "This prints a variable passed arguments"
    print("Output is: ")
    print(arg1)
    print(vartuple)
    print(type(vartuple))
    
    for var in vartuple:
        print(var)
    
    print("function done")
    return;

In [ ]:
printinfo(10)

In [ ]:
printinfo(70, 60,50,10,20)

In [ ]:
def func_satu(a,b,c): 
    "func statu" 
    print(a,b)
    print(c)
    return

In [122]:
def countdown(num):  
    newnum = 0
    if num < 1: 
        print('Stop')
        newnum = num 
        
        return newnum
    else:
        print(num)           
        newnum = countdown(num-1)
    
    return newnum

In [123]:
a = 10 
b = 20 
c= set({6,7,8,1,3,4,6})
func_satu(a,b,c)

10 20
{1, 3, 4, 6, 7, 8}

In [124]:
set({1,5,2,0,4})

{0, 1, 2, 4, 5}

In [125]:
printinfo(1,"Hello", 12,4,5,6, set({1,5,2,0,4}))

Output is:
1
('Hello', 12, 4, 5, 6, {0, 1, 2, 4, 5})
<class 'tuple'>
Hello
12
4
5
6
{0, 1, 2, 4, 5}
function done

## **kwargs

In [126]:
def print_arguments(**kwargs):
    print(kwargs)

In [127]:
print_arguments(name='Ahmad', age=14, job='student collage')

{'name': 'Ahmad', 'age': 14, 'job': 'student collage'}

In [128]:
def add(x, y, *args, **kwargs):
    sum = x + y   
    print("Sum x + y = ",sum)
    
    sumarg = 0 
    for a in args:
        sumarg += a     
        print("sumarg :", sumarg) 
    
    print("total sumarg : ",sumarg)
    
    sumkarg = 0     
    for k, v in kwargs.items():
        sumkarg += v        
        print("sumkarg :", sumkarg) 
        
    print("total sumkarg : ",sumkarg)   
    
    return sum + sumarg + sumkarg

In [129]:
total = add(1, 2, *(3, 4), **{"k1": 5, "k2": 6})
print("Print total ", total)

Sum x + y =  3
sumarg : 3
sumarg : 7
total sumarg :  7
sumkarg : 5
sumkarg : 11
total sumkarg :  11
Print total  21

## The return Statement

In [130]:
def sum(arg1, arg2):
    total2 = 0 
    # Add both the parameters and return them."
    total = arg1 + arg2  # total = 30 
    total2 = total + arg1  # total2 = 30 + 10 = 40 
    print("Inside the function : ", total) # 30 
    return total2

# Now you can call sum function
total = sum(10, 20)
print("Outside the function : ", total)

Inside the function :  30
Outside the function :  40

## Return Multiple Values

In [131]:
def func(a, b):
    return a+b , a-b

result = func(3, 2)

print(result)
print(type(result))

(5, 1)
<class 'tuple'>

In [132]:
def arithmetic(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    multiply = num1 * num2
    division = num1 / num2
    # return four values
    return add, sub, multiply, division

# read four return values in four variables
a, b, c, d = arithmetic(10, 2)

print("Addition: ", a)
print("Subtraction: ", b)
print("Multiplication: ", c)
print("Division: ", d)

Addition:  12
Subtraction:  8
Multiplication:  20
Division:  5.0

## Scope of Variables

### Global variables

In [133]:
total = 10 

def  sum(arg1, arg2):
    " Add both the parameters and return them."
    total = arg1 + arg2
    print("Inside the function : ", total)
    return total

def min():
    return 
     

sum(10,20)
print("Outside the function global total : ", total)

Inside the function :  30
Outside the function global total :  10

In [134]:
jumlahKucing = 20

def jumlahHewan():
    jumlahAnjing = 30
    return jumlahKucing + jumlahAnjing  # 50 

def jumlahHewan2():
    return jumlahKucing + jumlahKucing  # 40 

hewan = jumlahHewan() 
print(hewan)
hewan2= jumlahHewan2()
print(hewan2)

50
40

## Nested Functions

In [135]:
def outer(a, b):
    def inner(c, d):
        return c + d
    return inner(a, b)

result = outer(2, 4)

print(result)

6

## Recursion

In [136]:
hasilakhir = countdown(10)
print("\n")
hasil = countdown(0)

10
9
8
7
6
5
4
3
2
1
Stop


Stop

In [137]:
def ispalindrome(word):
    if len(word) < 2: return True
    if word[0] != word[-1]: return False
    return ispalindrome(word[1:-1])

In [138]:
print(ispalindrome("amam")
     )

False

In [139]:
print(ispalindrome("nun"))

True

## dictionary of functions

In [140]:
def findSquare(x):
    return x ** 2

def findCube(x):
    return x ** 3

In [141]:
# Create a dictionary of functions
exponent = {'square': findSquare, 'cube': findCube}

print(exponent['square'](3))
# Prints 9
print(exponent['cube'](3))
# Prints 27

9
27

In [142]:
x=0
if x:
   def hello():
        print('Hello, World!')
else:
    def hello():
        print('Hello, Universe!')

hello()
# Prints Hello, Universe!

Hello, Universe!

## Lambda Function / The Anonymous Functions

In [143]:
sum = lambda arg1 , arg2 : arg1 + arg2; 

def sum1(arg1, arg2):
    return arg1 + arg2 


# Now you can call sum as a function
print("Value of total : ",sum(10,20))
print("Value of total : ",sum1(10,20))

Value of total :  30
Value of total :  30

## Docstring

In [144]:
def hello():
    """This function prints
       message on the screen"""  
    print('Hello, World!')

In [145]:
help(hello)

Help on function hello in module __main__:

hello()
    This function prints
    message on the screen

In [146]:
hello  ()

Hello, World!

## CRUD

In [147]:
buku = []

# fungsi untuk menampilkan semua data
def show_data():
    if len(buku) <= 0:
        print ("BELUM ADA DATA")
    else:
        for indeks in range(len(buku)):
            print ("[%d] %s" % (indeks, buku[indeks]))


# fungsi untuk menambah data
def insert_data():
    buku_baru = input("Judul Buku: ")
    buku.append(buku_baru)

# fungsi untuk edit data
def edit_data():
    show_data()
    indeks = input("Inputkan ID buku: ")
    if(int(indeks) > len(buku)):
        print("ID salah")
    else:
        judul_baru = input("Judul baru: ")
        buku[int(indeks)] = judul_baru

# fungsi untuk menhapus data
def delete_data():
    show_data()
    indeks = input("Inputkan ID buku: ")
    if(int(indeks) > len(buku)):
        print ("ID salah")
    else:
        buku.remove(buku[int(indeks)])

# fungsi untuk menampilkan menu
def show_menu():
    print ("\n")
    print ("----------- MENU ----------")
    print ("[1] Show Data")
    print ("[2] Insert Data")
    print ("[3] Edit Data")
    print ("[4] Delete Data")
    print ("[5] Exit")
    
    menu =input("PILIH MENU> ")
    print ("\n")

    if int(menu) == 1:
        show_data()
    elif int(menu) == 2:
        insert_data()
    elif int(menu) == 3:
        edit_data()
    elif int(menu) == 4:
        delete_data()
    elif int(menu) == 5:
        exit()
    else:
        print ("Salah pilih!")

In [148]:
buku

[]

In [149]:
def Terbilang(bil):
    angka = ["","Satu","Dua","Tiga","Empat","Lima","Enam",
             "Tujuh","Delapan","Sembilan","Sepuluh","Sebelas"]
    Hasil = " "
    n = int(bil)
    if n>= 0 and n <= 11:
        Hasil = angka[n]
    elif n <20:
        Hasil = Terbilang (n-10) + " Belas "
    elif n <100:
        Hasil = Terbilang (n/10) + " Puluh " + Terbilang (n%10)
    elif n <200:
        Hasil = " Seratus " + Terbilang (n-100)
    elif n <1000:
        Hasil = Terbilang (n/100) + " Ratus " + Terbilang (n%100)
    elif n <2000:
        Hasil = " Seribu " + Terbilang (n-1000)
    elif n <1000000:
        Hasil = Terbilang (n/1000) + " Ribu " + Terbilang (n%1000)
    elif n <1000000000:
        Hasil = Terbilang (n/1000000) + " Juta " + Terbilang (n%1000000)
    elif n <1000000000000:
        Hasil = Terbilang (n/1000000000) + " Milyar " + Terbilang (n%1000000000)
    elif n <1000000000000000:
        Hasil = Terbilang (n/1000000000000) + " Triliyun " + Terbilang (n%1000000000000)
    else:
        Hasil = "Angka Hanya sama Triliyun"

    return Hasil



huruf = Terbilang("123456")
print(f"Terbilang : {huruf}")

Terbilang :  Seratus Dua Puluh Tiga Ribu Empat Ratus Lima Puluh Enam

In [150]:
huruf = Terbilang("1000000010")
print(f"Terbilang : {huruf}", "rupiah")

Terbilang : Satu Milyar Sepuluh rupiah